.container {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family:Arial, Helvetica, sans-serif;
}

thead, tbody{
  background-color: rgba(227, 227, 227, 0.5);
}

th, td {
  border: 1px white;
       
}

th:first-child , td:first-child {
  display: flex;
}
th:last-child, td:last-child {
  text-align: right;
}

th:nth-child(2), td:nth-child(2) {
  background-color: rgba(139, 230, 255, 0.2);
  text-align: center;
}

.positive{
  background-color: rgba(156, 223, 149, 0.2);
}

.negative{
  background-color: rgba(255, 109, 109, 0.2);
}

.secondClass{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
