.container {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  font-size: 12px;
  font-family:Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: center;
}

thead, tbody{
  background-color: rgba(227, 227, 227, 0.5);
}

.container th,
.container td {
  padding: 8px;
  border: 3px solid white;
}

/* Стили для строки с графиком */
.container .chart-row td {
  padding: 0;
  border: none;  
  background-color: white;
}


.container tbody tr th {
  text-align: left;
}

th:nth-child(2), td:nth-child(2) {
  background-color: rgba(139, 230, 255, 0.2);
  text-align: center;
}

td:last-child {
  text-align: right;
}

.secondClass{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} 

.positive{
  background-color: rgba(156, 223, 149, 0.2);
}

.negative{
  background-color: rgba(255, 109, 109, 0.2);
}

.chart{
  width: 70%;
  margin: auto;
}